<%- include('parts/header') %>
    <%- include('parts/navbar') %>
        <div class="container">
            <br>

            <form action="/admin/orders" method="GET">
                <select name='category' class="form-control">
                    <option value="All" <%= dicSelected_all['all'] %> >All</option>
                    <option value="pending" <%= dicSelected_all['pending'] %> >Pending</option>
                    <option value="sent" <%= dicSelected_all['sent'] %> >Sent</option>
                    <option value="completed"<%= dicSelected_all['completed'] %> >Completed</option>
                </select>
                <br>
                <input type="text" class="form-control" name="email" placeholder="User Email">
                <br>
                <input type="submit" class="btn btn-primary" value="Filter">
            </form>
            <% if(items.length == 0) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Oops!</strong> No Orders Found
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } else {%>
                    <h1></h1>
                    <div class="d-flex align-items-center p-3 my-3 bg-purple rounded shadow-sm">
                        <div class="lh-1">
                            <h1 class="h6 mb-0 lh-1">All Orders</h1>
                        </div>
                    </div>

                    <br>
                    <table class="table table-light table-striped table-hover table-bordered table-responsive">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Email</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Address</th>
                                <th scope="col">status</th>
                                <th scope="col">time</th>
                                <th scope="col" style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0 ;i<items.length;i++){ %>
                                <tr>
                                    <th scope="row">
                                        <%= i+1 %>
                                    </th>
                                    <td>
                                        <%= items[i].userEmail %>
                                    </td>
                                    <td>
                                        <%= items[i].prod_name %>
                                    </td>
                                    <td>
                                        <%= items[i].amount %>$
                                    </td>
                                    <td>
                                        <%= items[i].amount * items[i].price %>$
                                    </td>
                                    <td>
                                        <%= items[i].address %>
                                    </td>

                                    <form method="POST">
                                        <td>
                                            <select name='status' class="form-control">
                                            <option value="pending" <%= items[i].dicSelected['pending'] %> >Pending</option>
                                            <option value="sent" <%= items[i].dicSelected['sent'] %> >Sent</option>
                                            <option value="completed"<%= items[i].dicSelected['completed'] %> >Completed</option>
                                        </select>

                                        </td>

                                        <td>
                                            <%= items[i].final_date %>
                                        </td>
                                        <input type="hidden" name="orderId" value="<%= items[i]._id %>">
                                        <td>
                                            <input type="submit" class="btn btn-danger" value="Save" formaction="/admin/orders/save">
                                        </td>
                                    </form>
                                </tr>
                                <% } %>

                        </tbody>
                    </table>

                    <% } %>
        </div>
        <%- include('parts/footer') %>