<%- include('parts/header') %>
    <%- include('parts/navbar') %>


        <% if(!product){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Oops!</strong> No Product Found with this ID
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>

                <div class="container align-items-center">
                    <% if(validationsError) {%>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Oops Error!</strong>
                            <%= validationsError.msg %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <% } %>
                            <h1></h1>
                            <div class="row">
                                <div class="col col-12 col-md-4">
                                    <h3>
                                        <%= product.name %>
                                    </h3>
                                    <img src="/<%= product.image %>" class="card-img-top" style="width: 15rem;">
                                </div>
                                <div class=" col col-12 col-md-6 ">
                                    <h5>Price :
                                        <%= product.price %> $ </h5>
                                    <h6>Description : </h6>
                                    <p class="card-text lh-sm">
                                        <%= product.description %>
                                    </p>
                                    <form action="/cart" method="POST">
                                        <input type="number" name="amount" class="form-control">
                                        <p></p>
                                        <input type="hidden" name="name" value="<%= product.name %>">
                                        <input type="hidden" name="price" value="<%= product.price %>">
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <input type="hidden" name="redirectTo" value="/product/<%= product._id %>">
                                        <input type="submit" value="Add to Cart " class="btn btn-primary ">
                                    </form>
                                </div>

                            </div>
                </div>


                <%- include('parts/footer') %>